<h1><%= @vendor.username %></h1>
<% if current_customer %>
	<% if !current_customer.vendors.include?(@vendor) %>
		<%= form_for :favorite, url: favorites_path do |f| %>
			  <%= f.hidden_field(:vendor_id, :value => @vendor.id) %>
			  <%= f.hidden_field(:customer_id, :value => current_customer.id) %>
			 
			  <%= f.submit "Add this vendor to your favorites!" %>
		<% end %>
    <% end %>
	
	
<% end %>

<h2>Categories</h2>
<% @vendor.foodcategories.each do |category|  %>
	<%= category.name %><br>
	<!-- link to each cateogry show page when clicked on -->
<% end %>
																																							

<div id='schedule'> 
	<h2>Schedule</h2>
	<%= @vendor.schedule %>
</div>
<br>

<div id= 'profpic'>
	<h3>profile picture goes here</h3>
</div>
<br>

<div> 
	<h2>Menu</h2>
	<% @vendor.items.each do |item| %>
		<p><%= item.title %>: <%= item.description %></p>
	<% end %>
</div>
<br>
