<!DOCTYPE html>
<html>
<head>
  <title>StrEATspot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container">
	    <div id="navbar">
	      <ul class="nav navbar-nav">
	        <li><%= link_to 'Home', root_path %></li>
	      </ul>
	      <ul class="nav navbar-nav pull-right">
	        <% if customer_signed_in? %>
	          <li>
	            <ul>
	              <li><%= link_to "#{current_customer.username}", edit_customer_registration_path %></li>
	              <li><%= link_to 'Log out', destroy_customer_session_path, method: :delete %></li>
	            </ul>
	          </li>
	        <% elsif vendor_signed_in? %>
	        	<li>

	            <ul>
	              <li><%= link_to "#{current_vendor.username}", edit_vendor_registration_path %></li>
	              <li><%= link_to 'Log out', destroy_vendor_session_path, method: :delete %></li>
	            </ul>
	          </li>
	        <% else %>
	        <div>
	          <li><%= link_to 'Customers Log In', new_customer_session_path %></li>
	          <li><%= link_to 'Customers Sign Up', new_customer_registration_path %></li>
	        </div>
	        <div>
	          <li><%= link_to 'Vendors Log In', new_vendor_session_path %></li>
	          <li><%= link_to 'Vendors Sign Up', new_vendor_registration_path %></li>
	        </div>

	        <% end %>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container">
	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>
	</div>

	<div id="location-toggle">
		<% if vendor_signed_in? %>
		<p>Toggle to display location:</p>
			<% if current_vendor.latitude && current_vendor.longitude %>
				<label class="switch">
				  <input type="checkbox" checked>
				  <div class="slider round"></div>
				</label>
			<% else %>
				<label class="switch">
				  <input type="checkbox">
				  <div class="slider round"></div>
				</label>
			<% end %>
		<% end %>
	</div>

	<%= yield %>
</body>
</html>
